<a href="https://colab.research.google.com/github/Shraddha-Ramteke/Data-Analysis-for-Python/blob/main/Pandas_DataFrame_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Pandas DataFrame exercises**

In [1]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Import the matplotlib package under the name plt
import matplotlib.pyplot as plt
%matplotlib inline

# Print the pandas version and the configuration
print(pd.__version__)

1.3.5

# DataFrame creation
Create an empty pandas DataFrame

In [2]:
pd.DataFrame(data=[None],
             index=[None],
             columns=[None])

      NaN
NaN  None

![image.png]()

#  Create a marvel_df pandas DataFrame with the given marvel data

In [3]:
marvel_data = [
    ['Spider-Man', 'male', 1962],
    ['Captain America', 'male', 1941],
    ['Wolverine', 'male', 1974],
    ['Iron Man', 'male', 1963],
    ['Thor', 'male', 1963],
    ['Thing', 'male', 1961],
    ['Mister Fantastic', 'male', 1961],
    ['Hulk', 'male', 1962],
    ['Beast', 'male', 1963],
    ['Invisible Woman', 'female', 1961],
    ['Storm', 'female', 1975],
    ['Namor', 'male', 1939],
    ['Hawkeye', 'male', 1964],
    ['Daredevil', 'male', 1964],
    ['Doctor Strange', 'male', 1963],
    ['Hank Pym', 'male', 1962],
    ['Scarlet Witch', 'female', 1964],
    ['Wasp', 'female', 1963],
    ['Black Widow', 'female', 1964],
    ['Vision', 'male', 1968]
]

In [4]:
marvel_df = pd.DataFrame(data=marvel_data)

marvel_df

                   0       1     2
0         Spider-Man    male  1962
1    Captain America    male  1941
2          Wolverine    male  1974
3           Iron Man    male  1963
4               Thor    male  1963
5              Thing    male  1961
6   Mister Fantastic    male  1961
7               Hulk    male  1962
8              Beast    male  1963
9    Invisible Woman  female  1961
10             Storm  female  1975
11             Namor    male  1939
12           Hawkeye    male  1964
13         Daredevil    male  1964
14    Doctor Strange    male  1963
15          Hank Pym    male  1962
16     Scarlet Witch  female  1964
17              Wasp  female  1963
18       Black Widow  female  1964
19            Vision    male  1968

# Add column names to the marvel_df

In [5]:
col_names = ['name', 'sex', 'first_appearance']

marvel_df.columns = col_names
marvel_df

                name     sex  first_appearance
0         Spider-Man    male              1962
1    Captain America    male              1941
2          Wolverine    male              1974
3           Iron Man    male              1963
4               Thor    male              1963
5              Thing    male              1961
6   Mister Fantastic    male              1961
7               Hulk    male              1962
8              Beast    male              1963
9    Invisible Woman  female              1961
10             Storm  female              1975
11             Namor    male              1939
12           Hawkeye    male              1964
13         Daredevil    male              1964
14    Doctor Strange    male              1963
15          Hank Pym    male              1962
16     Scarlet Witch  female              1964
17              Wasp  female              1963
18       Black Widow  female              1964
19            Vision    male              1968

#  Add index names to the marvel_df (use the character name as index)

In [6]:
marvel_df.index = marvel_df['name']
marvel_df

                              name     sex  first_appearance
name
Spider-Man              Spider-Man    male              1962
Captain America    Captain America    male              1941
Wolverine                Wolverine    male              1974
Iron Man                  Iron Man    male              1963
Thor                          Thor    male              1963
Thing                        Thing    male              1961
Mister Fantastic  Mister Fantastic    male              1961
Hulk                          Hulk    male              1962
Beast                        Beast    male              1963
Invisible Woman    Invisible Woman  female              1961
Storm                        Storm  female              1975
Namor                        Namor    male              1939
Hawkeye                    Hawkeye    male              1964
Daredevil                Daredevil    male              1964
Doctor Strange      Doctor Strange    male              1963
Hank Pym                  Hank Pym    male              1962
Scarlet Witch        Scarlet Witch  female              1964
Wasp                          Wasp  female              1963
Black Widow            Black Widow  female              1964
Vision                      Vision    male              1968

#  Drop the name column as it's now the index

In [7]:
#marvel_df = marvel_df.drop(columns=['name'])
marvel_df = marvel_df.drop(['name'], axis=1)
marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Namor               male              1939
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Hank Pym            male              1962
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

# Drop 'Namor' and 'Hank Pym' rows

In [8]:
marvel_df = marvel_df.drop(['Namor', 'Hank Pym'], axis=0)
marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1968

# DataFrame selection, slicing and indexation
 Show the first 5 elements on marvel_df

In [9]:
#marvel_df.loc[['Spider-Man', 'Captain America', 'Wolverine', 'Iron Man', 'Thor'], :] # bad!
#marvel_df.loc['Spider-Man': 'Thor', :]
#marvel_df.iloc[0:5, :]
#marvel_df.iloc[0:5,]
marvel_df.iloc[:5,]
#marvel_df.head()

                  sex  first_appearance
name
Spider-Man       male              1962
Captain America  male              1941
Wolverine        male              1974
Iron Man         male              1963
Thor             male              1963

#  Show the last 5 elements on marvel_df

In [10]:
#marvel_df.loc[['Hank Pym', 'Scarlet Witch', 'Wasp', 'Black Widow', 'Vision'], :] # bad!
#marvel_df.loc['Hank Pym':'Vision', :]
marvel_df.iloc[-5:,]
#marvel_df.tail()

                   sex  first_appearance
name
Doctor Strange    male              1963
Scarlet Witch   female              1964
Wasp            female              1963
Black Widow     female              1964
Vision            male              1968

#  Show just the sex of the first 5 elements on marvel_df

In [11]:
#marvel_df.iloc[:5,]['sex'].to_frame()
marvel_df.iloc[:5,].sex.to_frame()
#marvel_df.head().sex.to_frame()

                  sex
name
Spider-Man       male
Captain America  male
Wolverine        male
Iron Man         male
Thor             male

# DataFrame manipulation and operations
Modify the first_appearance of 'Vision' to year 1964

In [12]:
marvel_df.loc['Vision', 'first_appearance'] = 1964

marvel_df

                     sex  first_appearance
name
Spider-Man          male              1962
Captain America     male              1941
Wolverine           male              1974
Iron Man            male              1963
Thor                male              1963
Thing               male              1961
Mister Fantastic    male              1961
Hulk                male              1962
Beast               male              1963
Invisible Woman   female              1961
Storm             female              1975
Hawkeye             male              1964
Daredevil           male              1964
Doctor Strange      male              1963
Scarlet Witch     female              1964
Wasp              female              1963
Black Widow       female              1964
Vision              male              1964

# Add a new column to marvel_df called 'years_since' with the years since first_appearance

In [13]:
marvel_df['years_since'] = 2018 - marvel_df['first_appearance']

marvel_df

                     sex  first_appearance  years_since
name
Spider-Man          male              1962           56
Captain America     male              1941           77
Wolverine           male              1974           44
Iron Man            male              1963           55
Thor                male              1963           55
Thing               male              1961           57
Mister Fantastic    male              1961           57
Hulk                male              1962           56
Beast               male              1963           55
Invisible Woman   female              1961           57
Storm             female              1975           43
Hawkeye             male              1964           54
Daredevil           male              1964           54
Doctor Strange      male              1963           55
Scarlet Witch     female              1964           54
Wasp              female              1963           55
Black Widow       female              1964           54
Vision              male              1964           54

# DataFrame boolean arrays (also called masks)
Given the marvel_df pandas DataFrame, make a mask showing the female characters

In [14]:
mask = marvel_df['sex'] == 'female'

mask

name
Spider-Man          False
Captain America     False
Wolverine           False
Iron Man            False
Thor                False
Thing               False
Mister Fantastic    False
Hulk                False
Beast               False
Invisible Woman      True
Storm                True
Hawkeye             False
Daredevil           False
Doctor Strange      False
Scarlet Witch        True
Wasp                 True
Black Widow          True
Vision              False
Name: sex, dtype: bool

# Given the marvel_df pandas DataFrame, get the male characters

In [15]:
mask = marvel_df['sex'] == 'male'

marvel_df[mask]

                   sex  first_appearance  years_since
name
Spider-Man        male              1962           56
Captain America   male              1941           77
Wolverine         male              1974           44
Iron Man          male              1963           55
Thor              male              1963           55
Thing             male              1961           57
Mister Fantastic  male              1961           57
Hulk              male              1962           56
Beast             male              1963           55
Hawkeye           male              1964           54
Daredevil         male              1964           54
Doctor Strange    male              1963           55
Vision            male              1964           54

# Given the marvel_df pandas DataFrame, get the characters with first_appearance after 1970

In [16]:
mask = marvel_df['first_appearance'] > 1970

marvel_df[mask]

              sex  first_appearance  years_since
name
Wolverine    male              1974           44
Storm      female              1975           43